<main class="h-[230vh] w-full flex text-center justify-center items-center md:my-[40px]">
  <section class="bg-white h-[230vh] min-w-[600px] max-w-[800px] md:rounded-[25px] p-[10px]">
    <section>
      <img src="../assets/images/image-omelette.jpeg" alt="Omelette" class="md:p-[20px] md:rounded-[30px]">
      <h2 class="justify-center md:justify-start md:px-[20px] font-YoungSerif text-[30px] md:text-[33px] flex flex-wrap">Simple Omelette Recipe</h2>
    </section>
    <section class="text-start flex flex-wrap justify-start md:justify-start md:text-start mx-[20px] my-[15px]">
      An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked 
      to perfection, optionally filled with your choice of cheese, vegetables, or meats.
    </section>
    <section class="rounded-[10px] bg-Rose flex flex-col text-start px-[20px] p-[10px] my-[10px] m-[10px] font-outfit">
      <h2 class="font-outfit text-Raspberry text-xl my-[10px]">Preparation time</h2>
      <ul class="flex flex-col list-disc ml-[20px]">
          <li class="text-Raspberry"><span class="mx-[20px] text-Brown"><span class="font-bold font-sans">Total:</span> Approximately 10 minute</span></li>
          <li class="text-Raspberry"><span class="mx-[20px] text-Brown"><span class="font-bold font-sans">Preparation:</span> 5 minutes</span></li>
          <li class="text-Raspberry"><span class="mx-[20px] text-Brown"><span class="font-bold font-sans">Cooking:</span> 5 minutes</span></li>
      </ul>
    </section>
    <section class="flex flex-col my-[30px]">
      <h1 class="px-[20px] font-YoungSerif text-Nutmeg text-2xl justify-start text-start">Ingredients</h1>
      <ul class="flex flex-col list-disc text-start text-Brown mx-[40px] my-[5px]">
        <li class="my-[5px]"><span class="mx-[10px]">2-3 large eggs</span></li>
        <li class="my-[5px]"><span class="mx-[10px]">Salt, to taste</span></li>
        <li class="my-[5px]"><span class="mx-[10px]">Pepper, to taste</span></li>
        <li class="my-[5px]"><span class="mx-[10px]">1 tablespoon of butter or oil</span></li>
        <li class="my-[5px]"><span class="mx-[10px]">Optional fillings: cheese, diced vegetables, cooked meats, herbs</span></li>
      </ul>
    </section>
    <section>
      <hr class="w-[90%] mx-auto flex flex-col flex-wrap">

      <h1 class="text-start font-YoungSerif mx-[20px] text-2xl text-Nutmeg my-[10px]">Instructions</h1>
      <ul class="list-decimal mx-[45px] my-[20px] text-start text-Brown">
        <li class="my-[10px]"><span class="font-bold">Beat the eggs:</span>In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. 
          You can add a tablespoon of water or milk for a fluffier texture.
        </li>
        <li class="my-[10px]"><span class="font-bold">Heat the pan:</span>Place a non-stick frying pan over medium heat and add butter or oil.</li>
        <li class="my-[10px]"><span class="font-bold">Cook the omelette:</span>Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure 
          the eggs evenly coat the surface.</li>
        <li class="my-[10px]"><span>Add fillings (optional):</span>When the eggs begin to set at the edges but are still slightly runny in the 
          middle, sprinkle your chosen fillings over one half of the omelette.</li>
        <li class="my-[10px]"><span class="font-bold">Fold and serve:</span>As the omelette continues to cook, carefully lift one edge and fold it over the 
          fillings. Let it cook for another minute, then slide it onto a plate.
        </li>
        <li class="my-[10px]"><span class="font-bold">Enjoy:</span>Serve hot, with additional salt and pepper if needed.</li>
      </ul>

      <hr class="w-[90%] mx-auto">
    </section>
    <section class="my-[20px]">
      <h2 class="text-Nutmeg font-YoungSerif text-2xl text-start mx-[20px]">Nutrion</h2>
      <p class="text-start mx-[20px] text-Brown font-outfit my-[10px]">The table below shows nutritional values per serving without the additional fillings.</p>
      <Article class="">

        <ul class="list-none">
          <section class="flex items-center justify-around border-b p-[5px] my-[10px]">
            <p class="text-Brown">Calories</p>
            <span class="text-Nutmeg">277kcal</span>
          </section>
  
          <section class="flex items-center justify-around border-b p-[5px] my-[10px]">
            <p class="text-Brown">Carbs</p>
          <span class="text-Nutmeg">0g</span>
          </section>
  
          <section class="flex items-center justify-around border-b p-[5px] my-[10px]">
            <p class="text-Brown">Protein</p>
          <span class="text-Nutmeg">20g</span>
          </section>
  
          <section class="flex items-center justify-around p-[5px] my-[10px]">
            <p class="text-Brown">Fat</p>
          <span class="text-Nutmeg">22g</span>
          </section>
        </ul>

      </Article>
    </section>
    <footer class="flex justify-center items-end my-[80px]">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" class="underline"> Frontend Mentor</a>. 
      Coded by <a href="https://www.frontendmentor.io/profile/aponchikaj" class="underline">Lazare Mirziashvili</a>.
    </footer>
  </section>
</main>
